<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styl.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="header">
       
        <img src="/images/ihpnes.png"alt="" style="left: 40px;">
        
    </div>
    <div class="newbuy">
        <h5>Get iPhone 16 from just ₹6325.00/mo. for up to 12 mo.‡ with No Cost EMI and instant cashback. <a href="/buy">buy</a></h5>
    </div>
    <div class="box">
        <div class="box1">
            <h1>iPhone</h1>
        </div>
        <div class="box2">
            <h3>Designed to be loved.</h3>
        </div>
        
        
    </div>
    <div>
        <video src="/images/iphon.mp4" height="100%" width="100%" autoplay muted loop playsinline></video>

      </div>
      <div class="get">
        <h1>Get to know iPhone.</h1>
      </div>

      <div class="pic">
        <img src="/images/card1.jpg" alt="" height="20%" width="20%" style="border-radius: 2rem; margin: 1rem;" >
        <img src="/images/card2.jpg" alt="" height="20%" width="20%" style="border-radius: 2rem;  margin: 1rem;">
        <img src="/images/card3.jpg" alt="" height="20%" width="20%" style="border-radius: 2rem;  margin: 1rem;">
        <img src="/images/card4.jpg" alt="" height="20%" width="20%" style="border-radius: 2rem;  margin: 1rem;">
        <img src="/images/card5.jpg" alt="" height="20%" width="20%" style="border-radius: 2rem;  margin: 1rem;">
        <img src="/images/card1.jpg" alt="" height="20%" width="20%" style="border-radius: 2rem;  margin: 1rem;">
        <img src="/images/card1.jpg" alt="" height="20%" width="20%" style="border-radius: 2rem;  margin: 1rem;">
      </div>
     
      
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>
           